<div id="social">
  {% if site.data.theme.social.github %}
  <a title="Me on Github" href="https://github.com/{{ site.data.theme.social.github }}">
    <i class="fa-brands fa-github fa-2xl"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social.stackoverflow %}
  <a title="Me on Stack Overflow" href="http://stackoverflow.com/users/{{site.data.theme.social.stackoverflow }}">
    <i class="fa fa-stack-overflow fa-2x"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social.bluesky %}
  <a title="Me on bluesky" href="https://bsky.app/profile/{{ site.data.theme.social.bluesky }}">
    <i class="fa-brands fa-square-bluesky fa-2xl"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social.twitter %}
  <a title="Me on twitter" href="https://x.com/{{ site.data.theme.social.twitter }}">
    <i class="fa-brands fa-square-x-twitter fa-2xl"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social.linkedin %}
  <a title="Me on LinkedIn" href="https://www.linkedin.com/in/{{ site.data.theme.social.linkedin }}">
    <i class="fa-brands fa-linkedin fa-2xl"></i>
  </a>
  {% endif %}

  <a title="Atom feed" id="atom" href="/feed.xml">
        <i class="fa-solid fa-square-rss fa-2xl"></i>
  </a>

  <a title="Email me" href="mailto:{{ site.data.theme.email }}">
    <i class="fa-solid fa-square-envelope fa-2xl"></i>
  </a>  
</div>